<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="使用 thinkPHP 和 bootstrap 管理系统">
<meta name="author" content="">
<title>{$meta_title} | 中智尚联</title>
<load href="__CSS__/scenic/common.css" /> 
<load href="__CSS__/scenic/saim.css" />
<load href="__CSS__/map/ghmap_3d.css" />
<load href="__CSS__/map/ghmap_3d.min.pc-1.0.js" />
<load href="__CSS__/map/map.js" />
<load href="__CSS__/scenic/font-awesome-4.7.0/css/font-awesome.min.css" />

<load href="__JS__/new/jquery.js" />
<load href="__JS__/new/common.js" />

<!-- 弹出提示框，ajax用 css start-->
<load href="__CSS__/sb/messenger.css" />
<load href="__CSS__/sb/messenger-theme-block.css" />
<load href="__CSS__/sb/alert_confirm_prompt.css" /> 
<!-- 弹出提示框，ajax用 css end-->


<block name="style">
</block>
{:hook('pageHeader')}