/**
 * ---------------------------楼层部分-------------------------------------
 */
.floorItem{
	opacity: 0.6;
	height: 25pt;
	font-size: 14pt;
	color: black;
	text-align: center;
	padding-top: 5pt;
	background: white;
}

.floorItemSeleted{
	background: #F5C91E;
	opacity: 0.6;
	height: 25pt;
	font-size: 14pt;
	color: black;
	text-align: center;
	padding-top: 5pt;
}
.floorItemStart{
	background: #00FF00;
	opacity: 0.6;
	height: 25pt;
	font-size: 14pt;
	color: black;
	text-align: center;
	padding-top: 5pt;
}
.floorItemEnd{
	background: #FF0000;
	opacity: 0.6;
	height: 25pt;
	font-size: 14pt;
	color: black;
	text-align: center;
	padding-top: 5pt;
}
.floorTitle{
	font-size: 16pt;
	width: 35pt;
	height: 37pt;
	background-image: url(./image/floorTitle.png);
	background-size: contain;
	background-repeat: no-repeat;
	color: red;
	padding-left: 12pt;
	padding-top: 8pt;
}
.floorItemContainer{
	height: 120pt;
	width: 40pt;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 0pt;
	padding: 0pt;
	/*border: 1px #FF0000 solid;*/
}
.gh-floor{
	right: 0pt;
	top: 10pt;
	cursor: pointer;
}
.gh-control {
    padding: 0px;
    position: absolute;
}